#!/hint/zsh

# name of your repo
REPO_NAME='aloxaf'

# your gpg key id
GPGKEY='A07920B86500DE6C'

MAKEPKG_CONF="
CFLAGS='-march=skylake -O2 -pipe -fno-plt'
CXXFLAGS='-march=skylake -O2 -pipe -fno-plt'
MAKEFLAGS='-j$(nproc)'
BUILDENV=(!distcc !color !ccache !check sign)
GPGKEY='$GPGKEY'
PACKAGER='Aloxaf <aloxafx@gmail.com>'
COMPRESSZST=(zstd -z -c -q -T0 -18 -)
PKGEXT='.pkg.tar.zst'
"

# where to deploy your packages
SERVER='abc@def.xzy:/var/www/html/x86_64'

# where to put your script
SCRIPT='abc@def.xyz:/var/www/html/script.7z'
# the password to protect your script
PASSWORD='I_am_a_password'
